@media screen and (max-width: 768px) {
	body{
		background-image: url('../img/mobileBg.png');
		display: block;
		width: 100%;
	}
	.content{
		height: auto;
		padding: 0 0 0 0;
		width: 100%;
	}
	.left{
		display: none !important;
	}
	.bigBox{
		padding: 30px 0 0 0 !important;
		text-align: center;
	}
	.right{
		padding-left: 0 !important;
	}
	.right .logo{
		width: 80px !important;
		height: 88px !important;
		margin-bottom: 0 !important;
	}
	.right h2, .right .span{
		padding: 0 0 5px 0;
		font-size: 25px !important;
		line-height: 1.2 !important;
		width: 100%;
	}
	.right h2{
		margin-bottom: 10px !important;
	}
	.right p{
		font-size: 13px !important;
		padding: 0 25px;
		letter-spacing: 1px !important;
		line-height: 1.6 !important;
		text-align: justify;
		margin-bottom: 30px !important;
	}
	.code{
		display: none !important;
	}
	.phone{
		display: none !important;
	}
	.mactwo{
		display: block !important;
		width: 80%;
		margin: 0 auto;
		padding-bottom: 50%;
	}
	.right .downloadBtn, .right .gongan{
		display: none !important;
	}
	.mobile-bottom{
		display: block !important;
	}
}
.mactwo{
	display: none;
}
.bigBox{
	max-width: 1600px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.left{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 810px;
}
.left .mac{
	width: 100%;
	height:auto;
	display: block;
	margin-bottom: 40px;
}
.left .left-bottom{
	display: flex;
	justify-content: space-between;
	width: 730px;
}
.left-bottom .btn{
	width: 170px;
	height: 60px;
	background: linear-gradient(0deg, #1568F7, #5396FC);
	box-shadow: 0px 2px 6px 0px rgba(35,115,248,0.5);
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.left-bottom .btn .btn-box{
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid rgba(255, 255, 255, .5);
	border-radius: 6px;
	width: 160px;
	height: 50px;
	color: #fff;
	font-size: 14px;
}
.left-bottom .btn .btn-box img{
	width: 26px;
	height: 26px;
	margin-right: 10px;
}
.right{
	padding-left: 100px;
}
.right .logo{
	width: 109px;
	height: auto;
	margin-bottom: 36px;
}
.right .title{
	position: relative;
}
.right h2, .right .span{
	font-size: 53px;
	font-weight: bold;
	line-height: 1;
	color: #FFFFFF;
}
.right h2{
	margin-bottom: 20px;
	background: linear-gradient(0deg, #FCE5A8 0%, #FFFFFF 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: relative;
	z-index: 2;
}
.right .span{
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	text-shadow: 10px 4px 10px rgba(16,73,170,0.59);
}
.right p{
	font-size: 18px;
	font-weight: 500;
	color: #FFFDF7;
	max-width: 650px;
	line-height: 33px;
	text-shadow: 0px 2px 3px rgba(39,91,219,0.6);
	margin-bottom: 32px;
	letter-spacing: 1.5px;
}
.right .code{
	width: 150px;
	text-align: center;
}
.right .code .title{
	font-weight: 400;
	font-size: 16px;
	color: #FFFFFF;
	text-shadow: 0px 2px 3px rgba(0,92,227,0.6);
}
.right .img{
	width: 150px;
	height: 150px;
	overflow: hidden;
	border-radius: 3px;
	display: block;
	margin: 10px 0;
}
.right .phone {
	font-weight: bold;
	font-size: 20px;
	color: #FFFFFF;
	text-shadow: 0px 2px 3px rgba(0,92,227,0.6);
	margin-bottom: 20px;
}
.right .phone span{
	font-weight: 400;
	font-size: 16px;
}
.right .downloadBtn{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 180px;
	height: 46px;
	background: linear-gradient(0deg, #FFC52C, #FFE78F);
	box-shadow: 0px 4px 10px 0px rgba(16,73,170,0.4);
	border-radius: 23px;
	font-size: 16px;
	color: #2272F8;
	transition: .3s;
	cursor: pointer;
	margin-bottom: 42px;
}
.right .downloadBtn:hover{
	opacity: .9;
}
.right .downloadBtn img{
	margin-right: 10px;
	width: 20px;
	height: 20px;
}
.right .gongan{
	width: 499px;
	height: auto;
}
.mobile-bottom{
	display: none;
	text-align: center;
	position: fixed;
	bottom: 35px;
	width: 100%;
}
.mobile-bottom .img{
	width: 80%;
	margin-bottom: 1.2rem;
}
.mobile-bottom .imgtwo{
	width: 60%;
}
.mask{
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
	background: rgba(0, 0, 0, .5);
}
.popmsg{
	width: 320px;
	height: 300px;
	background: #FFFFFF;
	border-radius: 8px;
	position: absolute;
	z-index: 1000;
	left: 50%;
	top: 50%;
	margin: -150px 0 0 -160px;
	text-align: center;
}
.popmsg .con{
	height: 250px;
	overflow: hidden;
}
.popmsg .con .ico{
	margin: 30px auto 10px auto;
}
.popmsg .con .ico img{
	width: 108px;
	height: auto;
}
.popmsg .con .a1{
	font-size: 18px;
	font-weight: 600;
	color: #333333;
	line-height: 180%;
	margin-bottom: 10px;
}
.popmsg .con .a2{
	font-size: 14px;
	font-weight: 400;
	color: #999;
}
.popmsg .btn{
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	font-weight: 600;
	color: #0368FF;
	cursor: pointer;
	border-top: #eee 1px solid;
}
@media screen and (min-width: 769px) and (max-width: 1600px) {
	.content{
		height: 560px;
	}
	.bigBox {
		max-width: 1200px;
	}
	.left{
		width: 48%;
	}
	.left .left-bottom{
		width: 560px;
	}
	.left-bottom .btn{
		width: 130px;
		height: 46px;
	}
	.right{
		padding-left: 5%;
		width: 47%;
	}
	.right .logo{
		width: 90px;
		margin-bottom: 15px;
	}
	.right h2, .right .span{
		font-size: 38px;
		margin-bottom: 15px;
	}
	.right p{
		font-size: 16px;
		line-height: 25px;
		margin-bottom: 15px;
	}
	.right .gongan{
		width: 300px;
	}
	.right .code{
		width: 130px;
		text-align: center;
	}
	.right .code .title{
		font-size: 14px;
	}
	.right .img{
		width: 135px;
		height: 135px;
		margin: 5px 0;
	}
	.right .phone {
		font-size: 18px;
		margin-bottom: 10px;
	}
	.right .phone span{
		font-size: 14px;
	}
	.right .downloadBtn{
		width: 160px;
		height: 40px;
		margin-bottom: 30px;
	}
}